# Configuración del servidor
NODE_PORT=3000

# Configuración de JWT
JWT_SECRET=your-super-secret-jwt-key-here

# Configuración de Firebase
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=your-firebase-client-email@your-project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour Firebase Private Key Here\n-----END PRIVATE KEY-----"

# Configuración del entorno
NODE_ENV=development
